{% extends "base.html" %}  

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="css/validator-style.css"   />
<link rel="stylesheet" type="text/css" href="css/modal.css" />
<link rel="stylesheet" type="text/css" href="css/dhtmlwindow.css" />

<script type="text/javascript" src="script/littlelite.js"></script>
<script type="text/javascript" src="script/dhtmlwindow.js"></script>
<script type="text/javascript" src="script/modal.js"></script>
<script type="text/javascript" src="script/script_tmt_validator.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAIKiZos66M42-cTr-iGn7JhSyPu864BjT65suref4B5Go5jimWxQF_V3HVN1v2KwU_IRBr5-tI6PMkw"></script>
<script type="text/javascript">
    google.load("prototype", "1.7.0.0");
</script>
{% endblock %}  
 

