<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Secrets is a Web2.0 application to send and receive encrypted messages. Uses standard algorithms, such as DES, 3DES, AES." />
<meta name="keywords" content="encryption, decryption, cypher, secret messages, DES, 3DES, AES" />
<meta name="author" content="LittleLite Software" />
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
<link rel="icon" href="favicon.ico" />

{% block extra_header %}{% endblock %}

</head>
<body {% block bodyonload %}{% endblock %}>
<div id="centerColumn">

  {% include "header.html" %}
  {% block rightcolumn %}{% endblock %}
  {% block maincontent %}{% endblock %}

  <!--//end #fauxRightColumn//-->

  <div id="footer">
    <p><a href="#">Secrets</a> {% if version %}v.{{version}}{% endif %} | Copyright 2010 by
       <a href="http://www.littlelite.net/" title="LittleLite Software">LittleLite Software</a> | 
       <a href="http://www.facebook.com/pages/Secrets/109262552802?ref=nf" title="Join us on Facebook" target="_blank"><img src="images/facebook.jpg" border=0 /></a><a href="http://www.facebook.com/pages/Secrets/109262552802?ref=nf" title="Join us on Facebook" target="_blank">Join us on Facebook!</a> | 
       Best viewed with 
       <a href="http://www.google.com/chrome"  title="Chrome" target="_blank">Chrome</a>, 
       <a href="http://www.mozilla.com/firefox/" title="Firefox" target="_blank">Firefox</a>, 
       <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx" title="Internet Explorer 8" target="_blank">IE8</a>
       <br />
  </p> 
  </div>
  <!--//end #footer//-->
</div>
<!--//end #centerColumn//-->
{% block before_end %}{% endblock %}
</body>
</html>
