{% extends "base.html" %} 

{% block title %}Secrets - How does it work?{% endblock %}

{% block rightcolumn %}
{% include "right_login.html" %}
{% endblock %}

{% block maincontent %}
<p>&nbsp;</p>
<div id="mainContent">
<p>&nbsp;</p>
<h2>How does Secrets work</h2>
  <p>Secrets is like a normal e-Mail application: you may compose, store and send messages. 
  The main difference is that messages in Secrets are always <b>encrypted</b>.
  The only way you have to decrypt a message with Secrets is to <i>enter the correct password</i>.</p>
  <p><strong>Neither the password, nor the message in clear are saved into the database</strong>.<br />
  <i>The password should be communicated to the receiver via other means, such as: voice, SMS, instant message...</i></p>
  <p>The encrypted message is stored into the Secrets database. There is no way to decrypt a message other than enter the correct password. Decryption happens on the client browser.</p>
  <h2>How the message is encrypted</h2>
  <p>Secrets uses common, standard encryption algorithms to encrypt a message. Here is how it works:</p>
  <textarea rows="5" cols="110" class="textarea" readonly="readonly">
    1. The message is entered in clear by the message author
    2. When finished, the author enter a password or a passphrase
    3. The password is turned into a series of bytes using MD5 or SHA1 hash functions
    4. The message is turned into a series of bytes using UTF-8 string encoding
    5. The encryption algorithm - DES by default - is applied to the message with the key extracted from the password bytes (step 3)
    6. The resulting bytes are transformed to a text string using Base64 encoding.
    7. The text string is saved into the Secrets database.
  </textarea><br />
  <h2>How the message is decrypted</h2>
  <p>Since Secrets does not store the message in clear or the password, the decryption takes place when the user presses the &quot;Decrypt&quot; button when he views the message. The strange text that appears in the message text area is the Base64 representation of the encrypted text. So, when the user presses &quot;Decrypt&quot; here is what happens:</p>
  <textarea rows="5" cols="110" class="textarea" readonly="readonly">
    1. The user is asked to insert the password
    2. The password is turned into a series of bytes using MD5 or SHA1 hash function
    3. The encrypted text is turned into a series of bytes using Base64 decoding.
    4. The resulting bytes are decrypted appling the decryption algorithm with the key extracted at the step 2
    5. The resulting bytes are encoded using UTF-8 and shown on the screen
  </textarea>
  <br />
  
</div>
{% endblock %}