{% extends "base.html" %} 

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="css/validator-style.css"   />
<script type="text/javascript" src="script/script_tmt_validator.js"></script>
{% endblock %}

{% block title %}Secrets - Registration{% endblock %}

{% block rightcolumn %}
{% include "right_login.html" %}
{% endblock %}

{% block maincontent %}
<div id="mainContent">
  <h2>&nbsp;</h2>
  <p>&nbsp;</p>
  <h2>Welcome to Secrets!</h2>
  <p>This is your first time on Secrets.
  
  {% if your_messages %}
  <b>You have <i>{{ your_messages|length }} secret{{ your_messages|length|pluralize }}</i> waiting for you.</b>
  {% endif %}
  
  </p>

  <p>Now, please enter some details about yourself:</p>

  <form id="form2" method="post" action="" tmt:validate="true">
      <div>
      	<table border='0'>
      	<tr>
      		<td><label for="name">First Name: </label></td>
      		<td><input type="text" name="firstname" id="firstname" class="required" tmt:required="true" tmt:errorclass="invalid" tmt:message="Please insert your name"/></td>
		</tr>
        <tr>
            <td><label for="name">Last Name: </label></td>
            <td><input type="text" name="lastname" id="lastname" class="required" tmt:required="true" tmt:errorclass="invalid" tmt:message="Please insert your last name"/></td>
        </tr>
        <tr>
            <td><label for="name">Username: </label></td>
            <td><input type="text" name="username" id="username" value="{{username}}" tmt:required="false" /></td>
        </tr>
        <tr>
            <td><label for="name">e-Mail: </label></td>
            <td><input type="text" name="email" id="email" value="{{user_email}}" readonly /></td>
        </tr>
      	<tr>
      		<td><label for="birth">Your birth year: </label></td>
      		<td>
		      	<select name="birth" id="birth">
		        {% for o in years %}
		        <option value="{{ o }}">{{ o }}</option>
				{% endfor %}
		        </select>
        	</td>
      	</tr>
        <tr>
            <td><label for="agree">Receive e-mails and newsletter from Secrets: </label></td>
            <td><input type="checkbox" name="agree" id="agree" checked /></td>
        </tr>
      	</table>
      </div>     
      <p><input type="submit" name="submit" id="submit" value="Submit" /></p>
      <p>&nbsp;</p>
  </form>
  <h2>PRIVACY STATEMENT</h2>
  <p>We will never share or sell your personal identifiable information with anyone without your consent.</p>
  <p>We use email links located on the "contact" page and other areas of the site to allow you to contact us directly with any questions or comments you may have. We read every message sent in and try to reply promptly to every one. This information is used to respond directly to your questions or comments. We may also file your comments to improve the web site and program, or review and discard the information. Your personal information is only shared with third parties with your prior consent.</p>
  <p>We will ensure that your email privacy is respected at all times. "Secrets" will only send you unsolicited email at your request, and the newsletter in the case you explicitly allowed us to do so.</p>
</div>  
{% endblock %}

