<div align="right" id="divLogin">
<form id="formLogin" name="formLogin" method="post" action="loginout">

{% if login.is_logged %}
    <label for="username">Logged as:</label>
    <input type="text" id="username" value="{{login.username}}" size="14" style="background: #f6f3a6; border:1px solid #C5BA85" readonly="readonly" />
    <input type="hidden" name="command" value="logout" />&nbsp;<input type="submit" value="Logout" />
{% else %}
    <input type="hidden" name="command" value="login" />
    <a href="javascript:document.formLogin.submit();">Register</a>&nbsp;&nbsp;<input type="submit" value="Login" />
{% endif %}
 
    </form>
</div>
